.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-top: 32px;
    margin-right: 371px;
    margin-bottom: 32px;
    gap: 46px;
  }

  &__item {
    display: block;
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      color: $colorchange;
      outline: none;
    }
  }
}


.header-contact-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 50px;

  &__icon {
  fill: $color-description;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  &__item {
  display: flex;
  align-items: center;
  color: $color-description;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $colorchange;
    outline: none;
  }

  &:hover .header-contact-list__icon,
  &:focus .header-contact-list__icon {
    fill: $colorchange;
    outline: none;
  }
}
}

a {
  text-decoration: none;
  color: rgba(33, 33, 33, 1);
}



.logo {
  font-weight: 700;
  font-family: 'Raleway';
  line-height: 1.19;

  &--web {
    color: $colorchange;
  }
}